<footer id="footer">
    <p><a id="github" href="https://github.com/devanshugupta27/supplyframe-challenge" target="_blank">Github Link</a></p>
    <p id="copyright">&copy; 2023 Devanshu Gupta</p>
</footer>