<%- include('../partials/header.ejs') %>
<div style="display: flex; align-items: center; justify-content: center;">
    <h2 style="color: white; margin-top: -10px;">SupplyFrame Event Search App</h2>
</div>

<div style="display: flex; align-items: center; justify-content: center;">
    <div id="introText">
        <p style="padding-left: 20px; text-align: center;">
            Welcome you all to the demo of SupplyFrame Event Search App using TicketMasterAPI.
            <br>
            <br>
            Our app helps users to find details about the different events happening around them.

            <br>
            <br>
            To start, click Search from the navigation bar. To view favorites, click Favorites.
        </p>
    </div>
</div>

<%- include('../partials/footer.ejs') %>