<%- include('../partials/header.ejs') %>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script type="text/javascript"      src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="js/script.js" type="text/javascript" defer ></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css" >

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto" id="event-search">
                    <form id="eventForm" onsubmit="handleClick(); return false;">
                        <div>
                            <h1>Event Search</h1>
                        </div>
                        <hr>
                        <p class="text-start pl-2">Keyword</p> 
                        <input class="col-md-6 form-control mx-auto" type="text" name="keyword" required>
                        
                        <div class="row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="distance">
                                    <p class="text-start col-md-10 col-xs-12"> Distance (in miles) </p>
                                    <input class="form-control col-md-6 mx-auto col-xs-12" type="number" placeholder="10"  name="distance" value=10>
                                    </label>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="category">
                                    <p class="text-start col-md-4 col-xs-12" id="categoryLabel">Category</p>
                                    <select class="form-control col-md-6 mx-auto col-xs-12" id="category-dropdown" name="category">
                                    <option id="dropdown-list-item" value="Default" selected>Default</option>
                                    <option value="Music">Music</option> 
                                    <option value="Sports">Sports</option> 
                                    <option value="Arts_Theatre">Arts & Theatre</option> 
                                    <option value="Film">Film</option> 
                                    <option value="Miscellaneous">Miscellaneous</option> 
                                </select>
                                </label>
                            </div>
                        </div>
                                                
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <p class="text-start mx-auto"> Location</p>
                                <input type="text" class="form-control col-md-12 mx-auto " required name="location">            
                            </div>
                        </div>
                                         
                        
                            <div class="form-check form-check-inline col-md-12 col-xs-12">
                                <input class="form-check-input" type="checkbox" id="location-checkbox" unchecked> 
                                <label class="form-check-label" for="location-checkbox">Auto-Detect Location</label> 
                            </div>
                        
                        <button id="search-btn" type="submit">SEARCH</button>
                        <button id="clear-btn" type="reset">CLEAR</button>
            
                    </form>
                </div>
            </div>
        </div>
    
        <div id="error-search">
        </div>

        <div id="valid-search">
            <table id="events-table"></table>
            <button id="prevBtn" disabled onclick="generateTableRows('prev')">Previous</button>
            <button id="nextBtn"onclick="generateTableRows('next')" >Next</button>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto" id="event-card">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-10">
                                <p id="facebook_ads_example"></p>
                                <h2 id="eventTitle"></h2>            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-3" id="eventDetails"></div>
                            <div class="col-lg-8 col-8" id="seatmapImage"></div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div id="showVenueDetails">
            <div id="venueDetailMessage">Show Venue Details</div>
            <i id="arrow-down"></i>
            
        </div>
        
        <div id="venue-card">
            <!-- <div class="container">
                <div id="row">
                    <div class="col-lg-12 col-12">
                        <h4 id="venueTitle"></h4>
                        <img id="venueLogo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-5" id="address"></div>
                <div class="col-lg-1 col-1" id="verticalLine"></div>
                <div class="col-lg-6 col-6" id="moreEventsLink"></div>
            </div> -->
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>